/*reset*/
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, variable, address, form, fieldset, strong, blockquote{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

td, th, caption{
    font-weight: normal;
    text-align: left;
}

img, fieldset{
    border: 0;
}

ol{
    margin-left: 1.4em;
    list-style: decimal;
}

ul{
    margin-left: 1.4em;
    list-style: square;
}

q:before, q:after {
    content: '';
}
/*finaliza reset*/

body{
    font-size: 62.5%;
}

#idContenido{
    margin-left: 15px;
    margin-top: 15px;
    border: 1px dashed #999;
    padding: 5px 0 5px 8px;
    border-right: none;
    border-bottom: none;
}

h1{
    font: normal 2.4em Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    border-bottom: 1px dashed #999;
    padding: 5px 0 5px 8px;
    color: #14556b;
}

p{
    font: 1.6em/90% Georgia, 'Times New Roman', Times, serif;
    margin: 10px 8px;
}

img.figura{
        float: right;
        margin-left: 10px;
        margin-bottom: 10px;
        border: 1px solid #666;
        padding: 10px;
}