h1{
    text-align: center;   
}

div{
    width: 20%;
    margin: 0 100px;
    float: left;
    border: #f00 solid 2px;
    padding: 10px;
}

table{
        width: 100px;
        margin-top: 10px;
}

